# Entornos virtuales
venv/
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos sensibles y de configuración local
.env
.vscode/

# Bases de datos locales (IMPORTANTE: Esto evita que Streamlit use el archivo viejo)
database/
sistema.db

# Otros archivos de datos
*.exe
*.xlsx
*.csv
*.pdf